<div class="register-qualification">
  <!---- Educational Qualification  --->
  <div class="educational">
    <div class="educational-qualification">
      <p>Educational Qualification</p>
      <img src="assets/images/expand_less_black_24dp.svg" alt="upward-arrow" />
    </div>
    <div class="educational-container">
      <form action="">
        <div class="percent">
          <label class="qualification-label" for="percentage">
            Aggregate Percentage*
          </label>
          <br />
          <input class="input" type="number" min="1" max="99" />
        </div>
        <div class="passing">
          <label class="qualification-label" for="passing-year">
            Year Of Passing*
          </label>
          <br />
          <select name="" id="passing-year-select-id">
            <option class="pass" value="2020">2020</option>
            <option class="pass" value="2021">2021</option>
            <option class="pass" value="2022">2022</option>
          </select>
        </div>
        <div class="study">
          <div class="qualify">
            <label class="qualification-label" for="qualification">
              Qualification*
            </label>
            <br />
            <select
              name=""
              id="qualification-select-id"
              class="qualification-select"
            >
              <option
                value="Bachelor in Technology (B.Tech)"
                class="qualification-option"
              >
                Bachelor in Technology (B.Tech)
              </option>
            </select>
          </div>

          <div class="stream">
            <label class="qualification-label" for="stream"> Stream* </label>
            <br />
            <select name="" id="stream-select-id" class="stream-select">
              <option value="Information Technology" class="select-option">
                Information Technology
              </option>
            </select>
          </div>
        </div>

        <div class="school">
          <div class="college">
            <label class="qualification-label" for="college"> College* </label>
            <br />
            <select name="" id="" class="college-select">
              <option
                value="Pune Institute of Technology (PIT)"
                class="college-option"
              >
                Pune Institute of Technology (PIT)
              </option>
            </select>
          </div>
          <div class="other-college">
            <label class="qualification-label" for="other-college">
              If Other, Please Enter Your College Name*
            </label>
            <br />
            <input type="text" class="input" />
          </div>
        </div>

        <div class="location">
          <label class="qualification-label" for="other-college">
            Where is your College Located?*
          </label>
          <br />
          <input type="text" class="input" />
        </div>
      </form>
    </div>
  </div>

  <!---- Professional Qualification  --->
  <div class="professional">
    <div class="professional-qualification">
      <p>Professional Qualifications</p>
      <img src="assets/images/expand_less_black_24dp.svg" alt="upward-arrow" />
    </div>
    <div class="professional-container">
      <div class="pro-cont">
        <label for="professional-container">Application Type*</label>
        <br />
        <div class="pro-input">
          <input
            type="radio"
            name="professional-qualification-radio"
            value="Fresher"
          />
          <label class="pro-fresher" for="Fresher">Fresher</label>
          <input
            type="radio"
            name="professional-qualification-radio"
            value="Experienced"
          />
          <label for="Experienced">Experienced</label>
        </div>
      </div>
    </div>
  </div>

  <!---- Qualification  --->
  <div class="qualification-container">
    <div class="yr-exp">
      <label class="qualification-label" for="year-experience">
        Years of Experience* </label
      ><br />
      <input type="text" class="input" />
    </div>

    <div class="cur-ctc">
      <label class="qualification-label" for="current_ctc">
        Current CTC* (In Rupees) </label
      ><br />
      <input type="text" class="input" />
    </div>

    <div class="exp-ctc">
      <label class="qualification-label" for="expected_ctc">
        Expected CTC* (In Rupees) </label
      ><br />
      <input type="text" class="input" />
    </div>

    <div class="tech">
      <label for="technologies"
        >Select All the Technologies You Expertise In*</label
      ><br />
      <div class="checkbox-input">
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-checbox"
          value="JavaScript"
        />
        <label class="tech-label" for="technologies-checbox">JavaScript</label
        ><br />
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-checbox"
          value="Angular JS"
        />
        <label class="tech-label" for="technologies-checbox">Angular JS</label
        ><br />
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-checbox"
          value="React"
        />
        <label class="tech-label" for="technologies-checbox">React</label><br />
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-checbox"
          value="Node JS"
        />
        <label class="tech-label" for="technologies-checbox">Node JS</label
        ><br />
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-checbox"
          value="Others"
        />
        <label class="tech-label" for="technologies-checbox">Others</label>
        <br />
      </div>

      <label for="other-tech">If Others, Please Mention</label>
      <br />
      <input type="text" class="input" />
      <br />
    </div>

    <div class="tech-familiar">
      <label for="technologies-familiar"
        >Select All the Technologies You Familiar In*</label
      ><br />
      <div class="checkbox-input">
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-familiar-checbox"
          value="JavaScript"
        />
        <label class="tech-label" for="technologies-familiar-checbox"
          >JavaScript</label
        ><br />
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-familiar-checbox"
          value="Angular JS"
        />
        <label class="tech-label" for="technologies-familiar-checbox"
          >Angular JS</label
        ><br />
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-familiar-checbox"
          value="React"
        />
        <label class="tech-label" for="technologies-familiar-checbox"
          >React</label
        ><br />
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-familiar-checbox"
          value="Node JS"
        />
        <label class="tech-label" for="technologies-familiar-checbox"
          >Node JS</label
        ><br />
        <input
          class="tech-checkbox"
          type="checkbox"
          name="technologies-familiar-checbox"
          value="Others"
        />
        <label class="tech-label" for="technologies-familiar-checbox"
          >Others</label
        >
        <br />
      </div>

      <label for="other-familiar-tech">If Others, Please Mention</label>
      <br />
      <input type="text" class="input" />
      <br />
    </div>

    <div class="notice">
      <div class="notice-radio-label">
        <label for="notice">Are you Currently On Notice Period?*</label>
        <br />
        <input type="radio" name="notice-radio" value="Yes" />
        <label class="notice-radio-la" for="Yes">Yes</label>
        <input type="radio" name="notice-radio" value="No" />
        <label for="No">No</label>
      </div>

      <div class="notice-period">
        <div class="cal">
          <label for="cal">If Yes, When Will Your Notice Period End?*</label>
          <br />
          <input type="date" class="input" />
        </div>
        <div class="month">
          <label for="month">How Long Is Your Notice Period?*</label>
          <br />
          <select name="" id="" class="month-select">
            <option value="2 months" class="month-option">2 months</option>
          </select>
        </div>
      </div>
    </div>

    <div class="reappear">
      <label for="reappear"
        >Have You Appeared For Any Test By Zeus In The Past 12 Months?*</label
      >
      <br />
      <input type="radio" name="reappear-radio" value="Yes" />
      <label class="reappear-label" for="Yes">Yes</label>
      <input type="radio" name="reappear-radio" value="No" />
      <label for="No">No</label><br />
      <div class="reappear-yes">
        <label for="reappear-yes">If Yes, Which Role Did You Apply For?</label>
        <br />
        <input type="text" class="input" />
      </div>
    </div>
  </div>

  <!---- Qualification Button --->
  <div class="qualification-buttons">
    <a href="">
      <button type="button">Previous</button>
    </a>
    <a href="">
      <button type="button">Next</button>
    </a>
  </div>
</div>
