<!------ Actually its for alert -->
<div id="div-alert">
  <div class="bell-div">
    <!---------- Bell icon div content - 1 ------>
    <div class="bell-content">
      <div class="bell-head">
        <p class="bell-p">PA: Wilson Kumar</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-tick-box.gif"
          alt="tick-box"
        />
      </div>
      <p class="bell-u">No Classes will be held on 21st Nov</p>
      <div class="bell-course"></div>
      <div class="bell-label">
        <label class="bell-label1"
          ><img
            class="img-attach"
            src="assets/Image/icons8-attach-48.png"
            alt=""
          />2 files are attached</label
        >
        <label class="bell-label2"> 15-Sept-2018 at 07:21 pm </label>
      </div>
    </div>
    <!---------- Bell icon div content - 2 ------>
    <div class="bell-content2">
      <div class="bell-head">
        <p class="bell-p">PA: Samson White</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <p class="bell-u">Guest Lecture on Geometry on 20th September</p>
      <div class="bell-course"></div>
      <div class="bell-label">
        <label class="bell-label1"
          ><img
            class="img-attach"
            src="assets/Image/icons8-attach-48.png"
            alt=""
          />2 files are attached</label
        >
        <label class="bell-label2"> 15-Sept-2018 at 07:21 pm </label>
      </div>
    </div>
    <!---------- Bell icon div content - 3 ------>
    <div class="bell-content">
      <div class="bell-head">
        <p class="bell-p">PA: Wilson Kumar</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-tick-box.gif"
          alt="tick-box"
        />
      </div>
      <p class="bell-u">Additional course materials available on request</p>
      <div class="bell-course">
        Course: <label class="bell-course1">Mathematics 101</label>
      </div>
      <div class="bell-label">
        <label class="bell-label1"
          ><img class="img-attach" src="#" alt=""
        /></label>
        <label class="bell-label2"> 15-Sept-2018 at 07:21 pm </label>
      </div>
    </div>
    <!---------- Bell icon div content - 4 ------>
    <div class="bell-content2">
      <div class="bell-head">
        <p class="bell-p">PA: Wilson Kumar</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <p class="bell-u">No Classes will be held on 25th Dec</p>
      <div class="bell-course"></div>
      <div class="bell-label">
        <label class="bell-label1"><img class="img-attach" src="#" /></label>
        <label class="bell-label2"> 15-Sept-2018 at 07:21 pm </label>
      </div>
    </div>
    <!---------- Bell icon div content - 5 ------>
    <div class="bell-content2">
      <div class="bell-head">
        <p class="bell-p">PA: Wilson Kumar</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <p class="bell-u">Additional course materials available on request</p>
      <div class="bell-course">
        Course: <label class="bell-course1">Mathematics 101</label>
      </div>
      <div class="bell-label">
        <label class="bell-label1"><img class="img-attach" src="#" /></label>
        <label class="bell-label2"> 15-Sept-2018 at 07:21 pm </label>
      </div>
    </div>
    <!---------- Bell icon div content - 6 ------>
    <div class="bell-content2">
      <div class="bell-head">
        <p class="bell-p">PA: Wilson Kumar</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <p class="bell-u">No Classes will be held on 25th Dec</p>
      <div class="bell-course"></div>
      <div class="bell-label">
        <label class="bell-label1"><img class="img-attach" src="#" /></label>
        <label class="bell-label2"> 15-Sept-2018 at 07:21 pm </label>
      </div>
    </div>
    <!---------- Bell icon div content - 7 ------>
    <div class="bell-content2">
      <div class="bell-head">
        <p class="bell-p">PA: Wilson Kumar</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <p class="bell-u">No Classes will be held on 25th Dec</p>
      <div class="bell-course"></div>
      <div class="bell-label">
        <label class="bell-label1"><img class="img-attach" src="#" /></label>
        <label class="bell-label2"> 15-Sept-2018 at 07:21 pm </label>
      </div>
    </div>
  </div>
  <!------------ Link for bell ---------->
  <div class="bell-link">
    <a class="bell-link1" href="#">SHOW ALL</a>
    <div class="v2"></div>
    <a class="bell-link1" href="#">CREATE NEW</a>
  </div>
</div>
<!------------------------- End of Bell icon div content ------------------------------------------>
