<!------ actually its bell --------->
<div id="div-bell">
  <!------------------------- alert icon div content ------------------------------------------------->
  <div class="alert-div">
    <!---------- alert icon div content - 1 ------>
    <div class="alert-content">
      <div class="alert-head">
        <p class="alert-p">
          License for Introduction to Algebra has been assigned to your school
        </p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <div class="alert-course"></div>
      <div class="alert-label2">15-Sept-2018 at 07:21 pm</div>
    </div>
    <!---------- alert icon div content - 2 ------>
    <div class="alert-content2">
      <div class="alert-head">
        <p class="alert-p">
          Lesson 3 Practice Worksheet overdue for Amy Santiago
        </p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-tick-box.gif"
          alt="tick-box"
        />
      </div>
      <div class="alert-course">
        Course: <label class="alert-label">Advanced Mathematics</label>
      </div>
      <div class="alert-label2">15-Sept-2018 at 07:21 pm</div>
    </div>
    <!---------- alert icon div content - 3 ------>
    <div class="alert-content">
      <div class="alert-head">
        <p class="alert-p">23 new students created</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <div class="alert-course"></div>
      <div class="alert-label2">13-Sept-2018 at 01:21 pm</div>
    </div>
    <!---------- alert icon div content - 4 ------>
    <div class="alert-content">
      <div class="alert-head">
        <p class="alert-p">15 submission ready for evaluation</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <div class="alert-course">
        Course: <label class="alert-label">Basic of Algebra</label>
      </div>
      <div class="alert-label2">13-Sept-2018 at 01:15 pm</div>
    </div>
    <!---------- alert icon div content - 5 ------>
    <div class="alert-content">
      <div class="alert-head">
        <p class="alert-p">
          License for Basic Concepts in Geometry has been assigned to your...
        </p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-minus-sign-24.png"
          alt="tick-box"
        />
      </div>
      <div class="alert-course"></div>
      <div class="alert-label2">15-Sept-2018 at 07:21 pm</div>
    </div>
    <!---------- alert icon div content - 6 ------>
    <div class="alert-content2">
      <div class="alert-head">
        <p class="alert-p">Lesson 3 Practice Worksheet overdue for Sam Diego</p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-tick-box.gif"
          alt="tick-box"
        />
      </div>
      <div class="alert-course">
        Course: <label class="alert-label">Advanced Mathematics</label>
      </div>
      <div class="alert-label2">15-Sept-2018 at 07:21 pm</div>
    </div>
    <!---------- alert icon div content - 2 ------>
    <div class="alert-content2">
      <div class="alert-head">
        <p class="alert-p">
          Lesson 3 Practice Worksheet overdue for Amy Santiago
        </p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-tick-box.gif"
          alt="tick-box"
        />
      </div>
      <div class="alert-course">
        Course: <label class="alert-label">Advanced Mathematics</label>
      </div>
      <div class="alert-label2">15-Sept-2018 at 07:21 pm</div>
    </div>
    <!---------- alert icon div content - 2 ------>
    <div class="alert-content2">
      <div class="alert-head">
        <p class="alert-p">
          Lesson 3 Practice Worksheet overdue for Amy Santiago
        </p>
        <img
          class="img-tickbox"
          src="assets/Image/icons8-tick-box.gif"
          alt="tick-box"
        />
      </div>
      <div class="alert-course">
        Course: <label class="alert-label">Advanced Mathematics</label>
      </div>
      <div class="alert-label2">15-Sept-2018 at 07:21 pm</div>
    </div>
    <!------------End of alert div----------------->
  </div>
  <!------------ Link for alert ---------->
  <div class="alert-link">
    <a class="alert-link1" href="#">SHOW ALL</a>
  </div>
  <!------------ End of alert  ---------->
</div>
