<!-- Navbar -->
<app-walkin-main-header></app-walkin-main-header>

<!-- Body -->
<div class="hallticket">
  <!-- Title -->
  <div class="hallticket-title">
    <div class="image" id="tick-mark"><span>&#10003;</span></div>
    <div class="hallticket-title-text">
      Congratulations! You have successfully applied for the walk-in opportunity
    </div>
  </div>

  <div class="seprater"></div>
  <!-- Body -->
  <div class="hallticket-body">
    <!-- Date and Time -->
    <div class="date-time">
      <label class="date-time-title">Date & time of Walk-in</label>
      <div class="text">{{ ticket.date }}</div>
      <div class="text">{{ ticket.start_time }} to {{ ticket.end_time }}</div>
    </div>

    <div class="seprater"></div>

    <!-- Venue -->
    <div class="venue">
      <label for="venue" class="venue-title">Venue of Walk-In : </label>

      <div class="address" *ngFor="let venue of ticket.venue">
        <div class="text">{{ venue.address_line1 }}</div>
        <div class="text">{{ venue.address_line2 }}</div>
        <div class="text">{{ venue.address_line3 }}</div>
        <div class="text">City: {{ venue.city }}-{{ venue.zip_code }}</div>
        <div class="text">Phone No: {{ venue.phone_number }}</div>
      </div>
    </div>

    <div class="seprater"></div>

    <!-- Things to remember -->
    <div class="things-to-remember">
      <label class="things-to-remember-title">Things To Remember</label>
      <div class="text">{{ ticket.things_to_remember }}</div>
    </div>

    <div class="seprater"></div>
  </div>

  <!-- button on footer -->
  <div class="buttons">
    <button type="button">Download Hall Ticket</button>
  </div>
</div>

<div class="base"></div>
