<div class="card-container">
    <div class="title">Walk In for Designer Job Role</div>
    <div class="date-time">
        <label for="date">Date & Time</label>
        <div class="date-location">
            <div class="date">10-Jul-2021 to 11-Jul-2021</div>
            <div class="location">
                <img src="" alt="">
                <div class="city">Mumbai</div>
            </div>
        </div>
    </div>
    <div class="jobs">
        <label for="jobs" class="job-role-title">Job Roles</label>
        <div class="job-roles">
            Containers
        </div>
    </div>
</div>