<div class="login_body">
  <div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item">
      <div class="main">
        <div class="title">
          <h1>Log in</h1>
        </div>
        <form>
          <div class="email">
            <input
              class="input_field"
              type="email"
              id="uname"
              name="uname"
              placeholder="Email ID*"
            />
            <a href="#">FORGOT USERNAME?</a>
          </div>
          <div class="pass">
            <input
              class="input_field"
              type="password"
              id="myPassword"
              name="upass"
              placeholder="Password*"
            />
            <img class="preview" src="assets/icon/preview.svg" />
            <a href="#">FORGOT PASSWORD?</a>
          </div>
          <div class="rem">
            <input
              type="checkbox"
              id="remember"
              name="remember"
              value="remember"
            />
            <label class="remembered" for="remember">Remember Me</label><br />
          </div>
          <div class="btn">
            <a href="#" class="button_link">
              <button type="button">LOG IN</button>
            </a>

            <label for="registartion">Not registered yet?</label>
            <a class="register" href="/registration-component"
              >create an account</a
            >
          </div>
        </form>
      </div>
    </div>
    <div class="grid-item"></div>
  </div>
</div>
