.menu {
  display: flex;
  border-bottom: 1px solid #0000003d;
}

.show {
  padding: 10px;
}

.sort-by {
  margin-left: auto;
  padding: 10px;
}
.input {
  width: 150px;
  border-style: none;
  border-bottom: 1px solid #0000003d;
}

.img-menu {
  padding: 10px;
}
