<div class="hamburger" id="ham-panel">
  <ul class="hamburger-list">
    <li><a class="ham-link" href="#">Dashboard</a></li>
    <li>
      <select class="ham-select" name="Classb">
        <option class="options" selected>CONTENT</option>
        <option class="options">COURSE-CONTENT</option>
      </select>
    </li>
    <li>
      <select class="ham-select" name="Classb">
        <option class="options">USERS</option>
      </select>
    </li>
    <li>
      <select class="ham-select" name="Classb">
        <option class="options">REPORTS</option>
      </select>
    </li>
    <li>
      <select class="ham-select" name="Classb">
        <option class="options">ADMIN</option>
      </select>
    </li>
  </ul>
</div>
