.info {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-weight: bold;

  .contact {
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: #1f7a54;
  }
  .vl {
    border-left: 1px solid green;
    height: 1.5em;
    margin-top: 8px;
  }

  .about {
    margin: 10px;
    text-decoration: none;
  }
}
