.header,
.course,
.class {
  display: flex;
}

.header {
  justify-content: space-around;
  background-color: #8ddc97;
  margin-top: 35px;
}
.course {
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid black;
}

.img-course {
  width: 32px;
  height: 29px;
  padding: 20px 0;
}

.h3-course {
  padding: 10px;
}

.class {
  justify-content: center;
  width: 100%;
}
