@mixin cardflex {
  display: flex;
}

@mixin cardInlineFlex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

$padding: 16px;
$bgColor: #ffffff;
$titleColor: #1f7a54;
$labelColor: #666666;
$txtColor: #666666;
$btnColor: #3fd28b;
$internBGcolor: #eedd6b;
$borderLine: #000000;
$divColor: #dbefff;
$space: 24px;


  .designation {
    opacity: 1;
    box-shadow: 0px 4px 6px #0000003d;
    margin: $space 0;
    background-color: $bgColor;
  }

  .designation-header {
    background: $divColor;
    height: 40px;
    font-size: 20px;
    @include cardflex();
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
  }

  .designation-title {
    padding: 10px 0;
  }

  .designation-div-img {
    @include cardInlineFlex();
    border-left: 2px solid $labelColor;
    padding: 0 5px;
  }

  .designation-body {
    padding: $padding;

    .package {
      .package-title {
        color: $labelColor;
        font-size: 15px;
      }

      .package-text {
        margin: $padding 0;
      }
    }

    .role-description {
      .role-description-title {
        color: $labelColor;
        font-size: 15px;
      }
      .role-description-text {
        margin: $padding 0;
      }
    }

    .role-requirement {
      .role-requirement-title {
        color: $labelColor;
        font-size: 15px;
      }
      .role-requirement-text {
        margin: $padding 0;
      }
    }

    .role-seprater {
      border-top: 1px solid $borderLine;
      margin-bottom: $padding;
    }
  }

