.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 50px;
  text-align: center;
}

/* above changes should be made*/
@mixin display_flex {
  display: flex;
  flex-direction: column;
}

/*Login Stuff
   height: 48%;
      width: 52.34%;*/

.main {
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-top: 5px solid #3ac7ec;
}

.title {
  @include display_flex();
  justify-content: space-around;
  font-family: QuickSand-Medium;
}

h1 {
  text-align: center;
}

form {
  margin: 0 33px;
  @include display_flex();
  justify-content: space-around;
}

.input_field {
  height: 3em;
  width: 98%;
  border-style: none;
  border-bottom: 2px solid #ccc7c7;
}

.preview {
  position: absolute;
  right: 5px;
  top: 12px;
}

a {
  text-decoration: none;
  color: #1f7a54;
}

.email {
  text-align: right;
}

.pass {
  position: relative;
  text-align: right;
}
.rem {
  margin-right: auto;
}

.btn {
  @include display_flex;
  align-items: center;
  padding-top: 38px;
}

.button_link {
  height: 41px;
  width: 216px;
}

button {
  border: none;
  height: 41px;
  width: 216px;
  background: #3fd28b 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #0000003d;
  opacity: 1;
  color: #1f2834;
  font-weight: bold;
}

label {
  margin-top: 24px;
  font-size: 15px;
  margin-bottom: 4px;
}

.register {
  font-size: 18px;
  text-transform: uppercase;
}

.remembered {
  font-size: 18px;
}
