/* You can add global styles to this file, and also import other style files */
/*---------------- Global Font -------------------*/

@font-face {
  font-family: "QuickSand-Bold";
  src: url("assets/fonts/static/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "QuickSand-Light";
  src: url("assets/fonts/static/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "QuickSand-Medium";
  src: url("assets/fonts/static/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "QuickSand-Regular";
  src: url("assets/fonts/static/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "QuickSand-SemiBold";
  src: url("assets/fonts/static/Quicksand-SemiBold.ttf") format("truetype");
}

/*---------------- Global Changes -------------------*/
html,
body {
  font-family: QuickSand-Medium;
  margin: 0;
  height: 100%;
  background-color: #eeeeee;
}
