#card-bucket {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  align-items: center;
  justify-items: center;
}

.card-container {
  width: 571px;
  height: 255px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}


.card-status {
  font-size: 12px;
  margin-top: 0;
  padding-top: 0;
  background-color: rgb(245, 181, 181);
  color: red;
}
/* Card header */
.card-image-book {
  width: 132px;
  height: 157px;
}

/*Card Data*/
.card-top {
  margin: 24px 24px 12px 24px;
  display: flex;
}

.card-content {
  width: 100%;
  margin-left: 16px;
}

.card-content-head {
  display: flex;
  justify-content: space-between;
}

.card-content-bottom {
  font-size: 12px;
  color: #666666;
}
.card-subject {
  width: 45px;
  height: 15px;
  padding-right: 12px;
}

.card-syllabus-content {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-syllabus {
  padding: 3px;
}

.card-grade {
  width: 45px;
  height: 15px;
  border-left: 1px solid #213e543d;
  padding-left: 12px;
}

.card-topic {
  font-size: 16px;
}

.card-extragrade {
  color: #1f7a54;
}

.card-select {
  height: 27px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #222222;
  font-size: 16px;
}
.card-selected {
  height: 27px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #222222;
  font-size: 16px;
  color: #0000003d;
}

.card-label-classes {
  color: #0000003d;
}

.card-students {
  padding-right: 12px;
}
.card-duration {
  padding-left: 12px;
}
.card-line {
  border-left: 1px solid #213e543d;
}

.card-content-base {
  display: flex;
  margin: 4px;
}

/* Card footer  */
.card-footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #666666;
  padding-top: 12px;
  margin: 0 24px;
}

.card-base {
  width: 22px;
  height: 24px;
}

@media (max-width: 1325px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 10px;

    padding-top: 5em;
  }

  #card-bucket {
    grid-column-start: 1/-1;
  }

  .menu {
    grid-column: 1/-1;
  }

  /*========== header ===============*/
  .header {
    grid-column: 1/-1;
  }
}

@media (max-width: 786px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    grid-gap: 10px;

    padding-top: 5em;
  }

  #card-bucket {
    grid-column-start: 1/-1;

    grid-template-columns: repeat(1, 1fr);
  }

  .menu {
    grid-column: 1/-1;
  }

  /*========== header ===============*/
  .header {
    grid-column: 1/-1;
  }
}
}
