body {
    height: 100%;
    margin: 0;
    background-color: #eeeeee;
    width: 100%;
  }
  
  /*  Navbar  */
  nav {
    padding-top: 10px;
    padding-left: 1em;
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
  }
  
  /*  Image   */
  .logo-header {
  }
  
  /*    Hamburger  */
  .hamburger {
    /*border: 1px solid red;*/
    background-color: #FFFFFF;
    margin: 0;
    
    width: 35%;
    height: 20%;
  
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 20px #0000003d;
    border-radius: 2px;
    opacity: 1;
    position:absolute;
    /* Temporary-fit */
    right:2.1%;
    top: 7.8%;
    /*bottom:760px;*/
  
    display: none;
  }
  
  ul {
    /*border: 1px solid black;*/
    list-style: none;
    text-align: left;
    padding-left: 5px;
    background-color: #FFFFFF;
  }
  
  li {
    padding: 10px 0;
  }
  
  .ham-select {
    color: #1f7a54;
    border: none;
    width: 100%;
  }
  
  .ham-link {
    text-decoration: none;
    color: #1f7a54;
    background-color: #ffffff;
  }
  
  /*  Element   */
  .element {
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding-top: 10px;
  }
  
  .dashboard {
    padding: 10px 1em;
    border-bottom: 2px solid white;
    margin: 0;
  }
  
  .dashboard-edit {
    text-decoration: none;
    color: #ffffff;
  }
  
  .contents {
    padding: 10px 1em;
  }
  
  .con-edit {
    text-decoration: none;
    color: #3fd28b;
  }
  
  .users {
    margin: 10px 1em;
  }
  
  .reports {
    margin: 10px 1em;
  }
  
  .admin {
    margin: 10px 1em;
  }
  
  /*  Profile   */
  .profile {
    display: flex;
    justify-content: space-evenly;
  }
  
  .overlay {
    background-color: #2a7ff3;
    font-size: 10px;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    bottom: 25px;
    right: 157px;
    color: white;
  }
  
  .overlay1 {
    background-color: #2a7ff3;
    font-size: 10px;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    bottom: 25px;
    right: 98px;
    color: white;
  }
  
  .overlay2 {
    background-color: white;
    font-size: 10px;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    bottom: 30px;
    right: 50px;
  }
  
  .bell {
    margin: 15px 1em 0 1em;
  }
  
  .notification {
    margin: 15px 1em 0 1em;
  }
  
  .profile-id {
    margin-right: 3em;
  }
  
  .myself {
    height: 45px;
    width: 45px;
  }
  
  
  .togg {
    height: 27px;
    margin-right: 25px;
    margin-top: 10px;
    display: none;
  }
  /*--------- Media Query -----------------*/
  @media (max-width: 814px) {
    .togg {
      display: block;
    }
  
    .element {
      display: none;
    }
  
    .profile {
      margin-left: auto;
    }
  
    .overlay {
      background-color: #2a7ff3;
      font-size: 10px;
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
      text-align: center;
      padding-top: 1px;
      position: absolute;
      bottom: 22px;
      right: 210px;
      color: white;
    }
  
    .overlay1 {
      background-color: #2a7ff3;
      font-size: 10px;
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
      text-align: center;
      padding-top: 1px;
      position: absolute;
      bottom: 23px;
      right: 155px;
      color: white;
    }
  
    .overlay2 {
      background-color: white;
      font-size: 10px;
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
      text-align: center;
      padding-top: 1px;
      position: absolute;
      bottom: 30px;
      right: 100px;
    }
  }
  
  @media (max-width: 399px) {
    .overlay {
      display: none;
    }
    .overlay1 {
      display: none;
    }
    .overlay2 {
      display: none;
    }
  }
  
  
  /*========== MAIN ===============*/
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    grid-gap: 10px;
    padding: 1em;
    padding-top: 5em;
  }
  
  /*========== header ===============*/
  .header {
    grid-column: 1/-1;
  }
  
  /*==== Main Head ========*/
  .header {
    background-color: #8ddc97;
    display: flex;
    height: 65px;
  }
  
  /*===== Course ===========*/
  .course {
    display: flex;
    width: 50%;
    justify-content: center;
    border-bottom: 5px solid #222222;
  }
  
  /*======= child ========*/
  .img-course {
    padding: 20px 0;
    width: 2em;
    height: 2em;
  }
  
  .h2-course {
    padding: 0 5px;
    font-size: 1.6em;
  }
  
  .h3-course {
    padding: 0 5px;
    font-size: 1.4em;
  }
  
  /*===== Class ===========*/
  .class {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .bell-div {
    /*margin: 0;
    padding-top: 70px;*/
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000003D;
    border-radius: 0px 0px 2px 2px;
    opacity: 1;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track 
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }*/
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .bell-content {
    padding: 6px;
  }
  .bell-content2 {
    padding: 6px;
    background-color: #ffffee;
  }
  
  .bell-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .bell-p {
    font-size: 12px;
    margin: 0;
  }
  .img-tickbox {
    width: 17px;
    height: 18px;
  }
  
  .bell-u {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: QuickSand-SemiBold;
  }
  
  .bell-course {
    font-size: 12px;
  }
  
  .img-attach {
    width: 12px;
    height: 15px;
    padding: 0;
  }
  .bell-label {
    display: flex;
    justify-content: space-between;
  }
  
  .bell-label1 {
    font-size: 12px;
    margin: 0;
  }
  
  .bell-label2 {
    font-size: 12px;
    margin: 3px;
  }
  
  .bell-link {
    font: normal normal medium 14px/18px Quicksand-Light;
    height: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #ffffff;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000003D;
    border-radius: 0px 0px 2px 2px;
    opacity: 1;
    
  }
  
  .bell-link1 {
    padding-top: 5px;
    text-decoration: none;
    letter-spacing: -0.35px;
    color: #1f7a54;
    opacity: 1;
    margin: 5px;
    font-size: 14px;
  }
  
  .v2 {
    margin: 2px 0;
    border-left: 1px solid #0000001f;
  }
  
  #div-alert{
      
      display:none;
      position: absolute;
      width: 300px;
      height: 450px;
      top:8%;
      right:5%;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 6px #0000003D;
      border-radius: 0px 0px 2px 2px;
      opacity: 1;
  }
  /* -- Alert -- icon--div -- */
.alert-div {
    /*margin: 0;
      padding-top: 70px;*/
      width: 100%;
      height: 400px;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #ffffff;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 6px #0000003D;
      border-radius: 0px 0px 2px 2px;
      opacity: 1;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track 
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }*/
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .alert-content {
    padding: 6px;
    background-color: #ffffee;
  }
  .alert-content2 {
    padding: 6px;
  }
  
  .alert-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .alert-p {
    font-size: 14px;
    margin: 0;
    font-family: QuickSand-SemiBold;
  }
  .img-tickbox {
    width: 17px;
    height: 18px;
  }
  .alert-label {
    font-family: QuickSand-SemiBold;
  }
  .alert-course {
    font-size: 12px;
  }
  
  .alert-label2 {
    font-size: 12px;
    margin: 3px;
    text-align: right;
  }
  
  .alert-link {
    font: normal normal medium 14px/18px Quicksand-Light;
    height: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #ffffff;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000003D;
    border-radius: 0px 0px 2px 2px;
    opacity: 1;
  }
  
  .alert-link1 {
    padding-top: 5px;
    text-decoration: none;
    letter-spacing: -0.35px;
    color: #1f7a54;
    opacity: 1;
    margin: 5px;
    font-size: 14px;
  }
  #div-bell{
    display:none;
    position: absolute;
    width: 300px;
    height: 450px;
    top:8%;
    right:10%;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000003D;
    border-radius: 0px 0px 2px 2px;
    opacity: 1;
  }

  /*========== Menu ====================================*/
  .menu {
    grid-column: 1/-1;
  }
  
  .menu {
    background-color: transparent;
    display: flex;
    border-bottom: 1px solid #0000003d;
  }
  
  /*== menu-showing ===*/
  .show {
    padding: 10px;
  }
  
  /*== menu-sort ===*/
  .sort-by {
    margin-left: auto;
    padding: 10px;
  }
  .input {
    width: 150px;
    border-style: none;
    border-bottom: 1px solid #0000003d;
  }
  
  /*== menu-img===*/
  .img-menu {
    padding: 10px;
  }
  
  .exp {
    width: 52px;
    height: 18px;
    background-color: rgb(255, 224, 224);
    color: red;
  }
  
  /*========== content ===============*/
  .content1 {
    background-color: white;
    height: 250px;
  }
  
  /* Body */
  .content-body {
    margin: 1.2em;
  
    height: 240px;
  }
  
  .content-display {
    display: flex;
  }
  .img-sub1 {
    /*height: 200px;*/
  }
  
  .lecture {
    display: flex;
    flex-direction: column;
  
    width: 500px;
    margin-left: 1.5em;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
  }
  
  .classb {
    border-style: none;
    width: 100%;
    border-bottom: 1px solid #0000003d;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
  }
  
  .card-body2 {
    height: 2em;
  }
  
  .card-body3 {
    margin-top: 10px;
  }
  
  /*    Card below image   */
  
  .card-image {
    display: flex;
    justify-content: space-around;
    border-style: none;
    border-top: 1px solid #0000003d;
  
    padding: 10px;
    margin-top: 1em;
  }
  
  /*========== Info ===============*/
  
  .info {
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
  }
  .contact {
    margin: 10px;
  }
  
  .vl {
    border-left: 1px solid green;
    height: 1.5em;
    margin-top: 8px;
  }
  
  .about {
    margin: 10px;
  }
  
  /*========== footer ===============*/
  
  .footer {
    background-color: #e0e1e1;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: 1/-1;
  }
  
  
  .bottom {
    display: flex;
    justify-content: center;
    
  } 
  
  .footer-logo {
    margin: 5px 10px 0 10px;
  }
  
  .v2 {
    margin: 6px 0;
    border-left: 1px solid #0000001f;
  }
  
  .patent {
    color: #616161;
    margin: 10px;
  }
  
  
  
  
  /*==========*/
  @media (max-width: 768px) {
  
    .container{
      display:flex;
      flex-direction:column;
    }
  
    .content1{
      margin-left:3em;
      margin-right:3em;
      margin-top: 1em;
  
  
    }
  
  
  
    /*.container {
      grid-template-columns: repeat(4, 1fr);
    }
    .header {
      grid-column: 1/-1;
    }
    .menu {
      grid-column: 1/-1;
    }
    .content1 {
      font-size: 10px;
      grid-column: 2/4;
    }
  */
  
  