/*======= Form main ===========
body {
  height: 100%;
}
.container {
  border: 2px solid yellow;
  width: 400px;
  height: 600px;
}
*/
/*==== Title ========*/
.title {
  display: flex;
  justify-content: space-around;
  font-family: QuickSand-Medium;
}
.back {
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-left: 15px;
}

h1 {
  text-align: center;
}

/* ======== FORM ===========*/
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  width: 400px;
  margin-left: 15px;
}

.input {
  height: 3em;
  width: 98%;
  border-style: none;
  border-bottom: 2px solid #ccc7c7;
}

.password {
  height: 3em;
  width: 98%;
  border-style: none;
  border-bottom: 2px solid #ccc7c7;
  /*background-image: url("icon/preview.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 2.5em;*/
}

.preview {
  position: absolute;
  right: 5px;
  top: 12px;
}

.radio {
}

.drop {
}
a {
  text-decoration: none;
  color: #1f7a54;
}

.email {
  text-align: right;
}

.pass {
  position: relative;
  text-align: right;
}

.rem {
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  width: 40%;
  height: 2.5em;
  border-style: none;
  background-color: #3fd28b;
}
