* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
.header {
  background-color: yellowgreen;
}

.body {
  background-color: aqua;
  min-height: 100%;
  overflow: auto;
}

.main {
  background-color: greenyellow;
  padding-bottom: 100px; /*leaves @ bootom for footer*/
}

.footer {
  background-color: grey;
  margin-top: -100px; /*space occupied by footer which was leaved by*/
  height: 100px;
  clear: both;
}
